<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicMETA</title>
    <link rel="icon" type="image/jpg" href="img/CD-image.jpg">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div id = headerTitle>
        <form action="/" method="post">
            <button type="submit" id = navi>🔙 Go Home</button>
        </form>
        <H2>THIS is the ADMIN PAGE</H2>
    </div>

    <div id = submitionEngine>
        <form action="admin" method="post">
            <input type="text" name="UIArtistName" placeholder="Input Artist Name..." required id="userInput">
            <input type="text" name="UIAlbumArtist" placeholder="Input Album Artist..." required id="userInput">
            <input type="text" name="UIAlbumName" placeholder="Input Album Name..." required id="userInput">
            <input type="text" name="UIAlbumIMG" placeholder="URL image path..." required id="userInput">
            <input type="text" name="UITrackNum" placeholder="Track Number..." required id="userInput">
            <input type="text" name="UITrackName" placeholder="Track Name..." required id="userInput">
            <input type="text" name="userInput" placeholder="Track Length..." required id="userInput">


            <button type="submit" id = navi>SUBMIT</button>  
        </form>
    </div>
</body>
</html>