<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Album Listt</title>

    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <form action="/" method="post">
        <button type="submit">🔙 Go Home</button>
    </form>
    <p>Check console log</p>

    <form action="list" method="post" >
        <div class = albumLayout>
            <!-- For each loop to load search result -->
            <% retrieveAlbumList.forEach((item, index) => { %>
                <% item.albumSingles.forEach((album, albumIndex) => { %>
                    <button type="submit" class="img-button">
                        <img src="<%= album.AlbumIMG %>" alt="Album Cover">
                    </button>
                <% }) %>
            <% }) %>
        </div>   
    </form>

    <button onclick="history.go(-1)">🔙 Go Back</button>


</body>
</html>