<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicMETA</title>
    <link rel="icon" type="image/jpg" href="img/CD-image.jpg">
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <div id = headerTitle>
        <form action="/" method="post">
            <button type="submit" id = navi>🔙 Go Home</button>
        </form>
        <H2>Album Track List</H2>
        <button onclick="history.go(-1)" id = navi>🔙 Go Back</button>
    </div>
    <!-- <p>Check console log for TrackList</p> -->
    <div id="trackInfo">
        <img src="<%= imgPath %>" id="trackImg" alt="album cover">
        
    </div>

</body>
</html>